.main_section {
    border: 1px solid grey;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
}
.main_section {
    width: 100%;
}
.about {
    padding-left: 20px;
    padding-right: 20px;
}
.form {
    width: 100%;
}
.fieldset {
    margin: 30px auto;
    width: 60%;
}
.address_shedule {
    padding: 20px;
}
.main_section {
    width: 100%;
}
.map-responsive{
    overflow: hidden;
    padding: 15px;
    position: relative;
}
.map-responsive iframe{
    width: 80%;
}
input[type=submit]{
    margin-top: 20px;
    padding: 15px;
    background-color: #F4F4F4;
    color: #373737;
    font-family: 'Jura', sans-serif;
}
.grow {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

.grow:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}
input[type=text], input[type=email], input[type=tel], textarea {
    width: 40%;
}  