body {
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    color: #373737;
    background-color: #F4F4F4;

}
.wrapper {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    background: white;
    opacity: 0.9;
}
.main_header {
    width: 100%;
}
.header_nav {
    display: flex;
    width: 100%;
}
ul {
    margin: 0 auto;
    padding: 15px 0;
    width: 600px;
}
.menu {
    text-decoration: none;
    color: black;
    font-size: 25px;
}
li {
    float: left;
    width: 200px;
    text-decoration: none;
    list-style-type: none;
}
li a:hover {
    background-color:#C0B283;
    text-decoration: none;
    border-radius: 20px;
    color: grey;
}
#logo {
    width: 100%;
    position: relative;
    border: none;
}
.logo {
    position: absolute;
    z-index: 10;
    width: 50%;
    right: 0;
    top: 60px;
    font-size: 20px;
}
.logo_pic {
    float: left;
}
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    zoom: 1;
}
.clear {
    clear: both;
}
h2 {
    color: #C0B283;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0;
}
