body {
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    color: #373737;
    background-color: #F4F4F4; 
}
.container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    background: white;
    opacity: 0.8;
}
ul {
    margin: 0 auto;
    padding: 0px;
    width: 600px;
}
.menu {
    text-decoration: none;
    color: black;
    font-size: 25px;
}
li {
    list-style-type: none;
    float: left;
    width: 200px;
}
#logo {
    width: 100%;
    position: relative;
    float: left;
    border: none;
}
.logo {
    position: absolute;
    z-index: 10;
    width: 50%;
    right: 0;
    top: 60px;
    font-size: 20px;
}
.logo_pic {
    float: left;
}
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    zoom: 1;
}
.clear {
    clear: both;
}

