.price {
    width: 100%;
}
.price {
    border: 1px solid grey;
    float: left;
}
.wrapper_service {
    padding-top: 10px;
    padding-left: 100px;
    line-height: 2.5em;
    font-size: 20px;
    text-align: left;
}
h2 {
    margin-top: 50px;
    color: #C0B283;
    font-weight: bold;
    font-size: 30px;
}
.service {
    background-color: #DCD0C0;
}
.clear {
    clear: both;
}