.price {
    width: 100%;
}
.price {
    border: 1px solid grey;
    float: left;
}
.wrapper_service {
    padding-top: 10px;
    padding-left: 100px;
    line-height: 2.5em;
    font-size: 20px;
    text-align: left;
}
.service {
    background-color: #DCD0C0;
}
.clear {
    clear: both;
}